doctype html
html
  head
    title
      | Icons Pack Generator
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jasny-bootstrap.min.css')      
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')      
    
    link(rel='stylesheet', href='/stylesheets/style.css')

    style().
      .fileinput-filename{
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
      }
  body

    .container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Icons Pack Generator

  
      block content

      footer.footer
        hr
        p.text-center 
          | © 2017 Mobile Mind Soluções Tecnológicas
          

    

    script(type='text/javascript', src='/javascripts/jquery-3.2.0.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js') 
    script(type='text/javascript', src='/javascripts/jasny-bootstrap.min.js')


